**/.DS_Store
**/*.DS_Store

**/.svn
**/.vs
**/.vscode
**/bin
**/obj
**/bin
**/Debug
**/Release
**/Output

**/build
**/.externalNativeBuild
**/*.iml

**/mono_crash.**

**/._*.**

**/node_modules

**/*.meta